.buttonNewPassword-container {
  display: flex;
  justify-content: center;
}

.button-newpassword {
  background: #3590f5;
  border: none;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  height: 55px;
  margin-top: 60px;
  width: 256px;
}
