.buttonNewPassword-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-newpassword {
  background: #3590f5;
  border: none;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  height: 55px;
  margin-top: 60px;
  width: 256px;
}

.line {
  background-color: white;
  border: none;
  height: 2px;
  margin-top: 60px;
  width: 291px;
}
